@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

.shimmer-animation {
  animation: shimmer 3s linear infinite;
  background: linear-gradient(90deg, #ddd 4%, #eee 10%, #ddd 20%);
  background-size: 1000px 100%;
}
