@tailwind base;

@tailwind components;

@tailwind utilities;

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

@font-face {
  font-family: 'GREALN';
  src: url(./fonts/GREALN.ttf) format('truetype');
}
@font-face {
  font-family: 'DAYPBL';
  src: url(./fonts/DAYPBL.ttf) format('truetype');
}
@font-face {
  font-family: 'Bebas';
  src: url(./fonts/Bebas-Regular.ttf) format('truetype');
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
